{% extends '/frontoffice/layout/base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <!--=== Header v5 ===-->
        {% include 'frontoffice/layout/header.html.twig' %}
        <!--=== End Header v5 ===-->

        <!--=== Breadcrumbs v4 ===-->
        <div class="breadcrumbs-v4">
            <div class="container">
                <span class="page-name">Se connecter</span>
            </div><!--/end container-->
        </div>
        <!--=== End Breadcrumbs v4 ===-->

        <!--=== Login ===-->
        <div class="log-reg-v3 content-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 md-margin-bottom-50">
                        <h2 class="welcome-title">Bienvenue sur Immob</h2>
                        <p>Immobilier neuf
Immobilier de luxe
Immobilier a louer</p><br>
                        <div class="info-block-v2">
                            <i class="icon icon-layers"></i>
                            <div class="info-block-in">
                                <h3>Pellentesque vulputate</h3>
                                <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form method="post" id="sky-form1" class="log-reg-block sky-form">
                            <h2>Connexion</h2>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <section>
                                <label for="inputLogin" class="input login-input">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" placeholder="Email Address" value="{{ last_username }}" name="email" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
                                    </div>
                                </label>
                            </section>
                            <section>
                                <label for="inputPassword" class="input login-input no-border-top">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" placeholder="Password" id="inputPassword" name="password" class="form-control" autocomplete="current-password" required>
                                    </div>
                                </label>
                            </section>
                            {#<div class="row margin-bottom-5">
                                <div class="col-xs-6">
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox"/>
                                        <i></i>
                                        Remember me
                                    </label>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a href="#">Forget your Password?</a>
                                </div>
                            </div>#}
                            <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Se connecter</button>

                            <div class="border-wings">
                                <span>or</span>
                            </div>

                            <div class="row columns-space-removes">
                                <div class="col-lg-6 margin-bottom-10">
                                    <button type="button" class="btn-u btn-u-md btn-u-fb btn-block"><i class="fa fa-facebook"></i> Facebook Log In</button>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="btn-u btn-u-md btn-u-tw btn-block"><i class="fa fa-twitter"></i> Twitter Log In</button>
                                </div>
                            </div>
                        </form>

                        <div class="margin-bottom-20"></div>
                        <p class="text-center">Vous n'avez pas encore de compte ? Inscrivez vous <a href="shop-ui-register.html">S'incrre</a></p>
                    </div>
                </div><!--/end row-->
            </div><!--/end container-->
        </div>
        <!--=== End Login ===-->

        <!--=== Footer v4 ===-->
        {% include 'frontoffice/layout/footer.html.twig' %}
        <!--=== End Footer v4 ===-->
    </div><!--/wrapper-->
{% endblock %}



{#{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputLogin">Login</label>
    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    #}{#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}{#

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}#}
