{% extends '/frontoffice/layout/base.html.twig' %}


{% block body %}
    <div class="wrapper">
        {% include 'frontoffice/layout/header.html.twig' %}
            

        <div class="container content-md">

            <div class="heading heading-v1 margin-bottom-20">
                <h2>Résultat de la recherche ( {{ biens|length}} )</h2>
            </div>


            <!--=== Illustration v2 ===-->
            <div class="row illustration-v2">
                {% for bien in biens %}
                    <div class="col-md-3 col-sm-6 md-margin-bottom-30">
                        <div class="product-img">
                            <a href="shop-ui-inner.html"><img class="full-width img-responsive" src="{{ asset('frontoffice/assets/img/appart1.png')}}" alt=""></a>
                            <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                            <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Louer</a>
                        </div>
                        <div class="product-description product-description-brd" style="margin-bottom: 30px">
                            <div class="overflow-h margin-bottom-5">
                                <div class="pull-left">
                                    <h4 class="title-price"><a href="shop-ui-inner.html">{{ bien.nom }}</a></h4>
                                    <span class="gender text-uppercase">{{ bien.getTranche.getPrixMin~"F - "~bien.getTranche.getPrixMin }}F</span>
                                    <span class="gender">{{ bien.getVille.nom}}</span>
                                </div>
                                <div class="product-price">
                                    <span class="title-price">{{ bien.surface }}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div> 
            <!--=== End Illustration v2 ===-->
        </div>
        <!--=== End Product Content ===-->

        <!--=== Twitter-Block ===-->
        <div class="parallaxBg twitter-block margin-bottom-60">
            <div class="container">
                <div class="heading heading-v1 margin-bottom-20">
                    <h2>Latest Tweets</h2>
                </div>

                <div id="carousel-example-generic-v5" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li class="active rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <p>Unify has reached 10000 plus sales and we just want to thank you to our all customers for being part of the Unify Template success <a href="http://bit.ly/1c0UN3Y">http://bit.ly/1c0UN3Y</a><p>
                            <p><a href="https://twitter.com/htmlstream">@htmlstream</a></p>
                            <ul class="list-inline twitter-icons">
                                <li><a href="#"><i class="fa fa-reply"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <p>the majority have suffered #alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                            <p><a href="https://twitter.com/htmlstream">@twbootstrap</a></p>
                            <ul class="list-inline twitter-icons">
                                <li><a href="#"><i class="fa fa-reply"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <p>New 100% Free Stock Photos. Every. Single. Day. Everything you need for your creative projects. <a href="#">http://publicdomainarchive.com</a></p>
                            <p><a href="https://twitter.com/htmlstream">@wrapbootstrap</a></p>
                            <ul class="list-inline twitter-icons">
                                <li><a href="#"><i class="fa fa-reply"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="carousel-arrow">
                        <a class="left carousel-control" href="#carousel-example-generic-v5" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic-v5" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>                        
            </div>    
        </div>
        <!--=== End Twitter-Block ===-->

        <div class="container">
            <!--=== Product Service ===-->
            <div class="row margin-bottom-60">
                <div class="col-md-4 product-service md-margin-bottom-30">
                    <div class="product-service-heading">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="product-service-in">
                        <h3>Service de demenagement</h3>
                        <p>Service de demenagement disponible</p>
                        <a href="#">En savoir plus</a>
                    </div>
                </div>
                <div class="col-md-4 product-service md-margin-bottom-30">
                    <div class="product-service-heading">
                        <i class="icon-earphones-alt"></i>
                    </div>
                    <div class="product-service-in">
                        <h3>Service clientelle</h3>
                        <p></p>
                        
                    </div>
                </div>
                <div class="col-md-4 product-service">
                    <div class="product-service-heading">
                        <i class="icon-refresh"></i>
                    </div>
                    <div class="product-service-in">
                        <h3>Annonces immobilières</h3>
                        <p>Achat maison , vente maison , Location appartement...</p>
                        <a href="#">En savoir plus</a>
                    </div>
                </div>
            </div><!--/end row-->
            <!--=== End Product Service ===-->
            
        </div><!--/end cotnainer-->

        <!--=== Collection Banner ===-->
        <div class="collection-banner">
            <div class="container">
                <div class="col-md-7 md-margin-bottom-50">
                    <h2>Decouvrez nos promotions</h2>
                    <p></p><br>
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Louer Maintenant</a>
                </div>
                <div class="col-md-5">
                    <div class="overflow-h">
                        <span class="percent-numb">50</span>
                        <div class="percent-off">
                            <span class="discount-percent">%</span>
                            <span class="discount-off"></span>
                        </div>
                          
                    </div>    
                </div>
            </div>
        </div>
        <!--=== End Collection Banner ===-->

        {% include 'frontoffice/layout/footer.html.twig' %}
    </div><!--/wrapper-->
{% endblock %}
