<div class="col-md-12">
    <div class="card ">
        <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
                <h4 class="card-title">{{ title }}</h4>
            </div>
        </div>
        <div class="card-body ">
            {{ form_start(form) }}

            <div class="row">
                {{ form_label(form.libelle_type, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    <div class="form-group">
                        {{ form_widget(form.libelle_type, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error">
                            {{ form_errors(form.libelle_type) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {{ form_label(form.bien, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    <div class="form-group">
                        {{ form_widget(form.bien, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error">
                            {{ form_errors(form.bien) }}
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
