<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           <!--  all common assets -->
               <!-- Meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">

            <!-- Favicon -->
            <link rel="shortcut icon" href="favicon.ico">

            <!-- Web Fonts -->
            <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

            <!-- CSS Global Compulsory -->
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/plugins/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/css/shop.style.css') }}">

            <!-- CSS Header and Footer -->
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/css/headers/header-v5.css') }}">
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/css/footers/footer-v4.css') }}">

            <!-- CSS Implementing Plugins -->
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/plugins/animate.css') }}">    
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/plugins/line-icons/line-icons.css') }}">
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/plugins/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css') }}">
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/plugins/revolution-slider/rs-plugin/css/settings.css') }}">

            <!-- CSS Customization -->
            <link rel="stylesheet" href="{{ asset('frontoffice/assets/css/custom.css') }}">


        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

        <!-- JS Global Compulsory -->
    <script src="{{ asset('frontoffice/assets/plugins/jquery/jquery.min.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/plugins/jquery/jquery-migrate.min.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/plugins/bootstrap/js/bootstrap.min.j')}}s"></script>
    <!-- JS Implementing Plugins -->
    <script src="{{ asset('frontoffice/assets/plugins/back-to-top.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/plugins/smoothScroll.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/plugins/jquery.parallax.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
    <!-- JS Customization -->
    <script src="{{ asset('frontoffice/assets/js/custom.js')}}"></script>
    <!-- JS Page Level -->
    <script src="{{ asset('frontoffice/assets/js/shop.app.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/js/plugins/owl-carousel.js')}}"></script>
    <script src="{{ asset('frontoffice/assets/js/plugins/revolution-slider.js')}}"></script>
    <script>
        jQuery(document).ready(function() {
            App.init();
            App.initScrollBar();
            App.initParallaxBg();
            OwlCarousel.initOwlCarousel();
            RevolutionSlider.initRSfullWidth();
    });
    </script>
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
        <script src="assets/plugins/html5shiv.js"></script>
        <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
</html>
