{#
{% extends 'base.html.twig' %}

{% block title %}Edit TypeBien{% endblock %}

{% block body %}
    <h1>Edit TypeBien</h1>

    {{ include('type_biens/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_biens_index') }}">back to list</a>

    {{ include('type_biens/_delete_form.html.twig') }}
{% endblock %}
#}

{% extends '/backoffice/layout/base.html.twig' %}

{% block body %}
<div class="wrapper ">
    <!-- sidebar -->
    {% include 'backoffice/layout/sidebar.html.twig' %}
    <!-- sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        {% include 'backoffice/layout/navbar.html.twig' %}
        <!-- End Navbar -->
        <!-- content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {{ include('type_biens/_form.html.twig', {'title': 'Modification d\'un type de bien'}) }}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a class="btn" href="{{ path('type_biens_index') }}">Liste des types de biens</a>
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="btn">Delete</a>
                        {{ include('type_biens/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
            <!-- content -->
            <!-- footer -->
            {% include 'backoffice/layout/footer.html.twig' %}
            <!-- footer -->
        </div>
    </div>
    {% endblock %}

