{% extends '/backoffice/layout/base.html.twig' %}

{% block body %}
    <div class="wrapper ">
        <!-- sidebar -->
        {% include 'backoffice/layout/sidebar.html.twig' %}
        <!-- sidebar -->

        <div class="main-panel">
            <!-- Navbar -->
            {% include 'backoffice/layout/navbar.html.twig' %}
            <!-- End Navbar -->
            <!-- content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Pays</h4>
                                    <p class="card-category"><a href="{{ path('pays_new') }}"><i class="material-icons"></i> Creer un pays</a></p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nom</th>
                                                <th>actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for pay in pays %}
                                                <tr>
                                                    <td>{{ pay.id }}</td>
                                                    <td>{{ pay.nom }}</td>
                                                    <td>
                                                        <a href="{{ path('pays_show', {'id': pay.id}) }}">show</a>
                                                        <a href="{{ path('pays_edit', {'id': pay.id}) }}">edit</a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="5">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content -->
            <!-- footer -->
            {% include 'backoffice/layout/footer.html.twig' %}
            <!-- footer -->
        </div>
    </div>


{% endblock %}


